<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBindingEndpoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICommunicationBusWcfService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ZGroup/CommunicationBusService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICommunicationBusWcfService"
                contract="CommunicationBusService.ICommunicationBusWcfService"
                name="WSDualHttpBinding_ICommunicationBusWcfService">
                <identity>
                    <servicePrincipalName value="host/CBELAPTOP73.cereusace.be" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8527/ZGroup/GasDetectorReaderService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBindingEndpoint"
                contract="GasDetectorReaderService.IGasDetectorReaderWcfService"
                name="NetTcpBindingEndpoint" />
        </client>
    </system.serviceModel>
</configuration>